<div #sliderWrapper class="bg-[#001122] gap-x-3 flex flex-nowrap [mask-image:radial-gradient(circle,#000_5%,transparent_98%)] overflow-hidden md:gap-x-12 lg:gap-x-24" >
    <div #techWrapper
        class="py-20 flex justify-center items-center gap-x-3 animate-scroll md:animate-scrollMd md:gap-x-12 lg:gap-x-24">
        <div
            class="h-40 px-8 py-8 border-[#63717F] border rounded-lg flex flex-col justify-center">
            <button class="mb-3"><fa-icon [icon]="faHtml5" class="text-[#F7770F] text-5xl"></fa-icon></button>
            <p class="text-white text-center text-md w-full">Html & Css</p>
        </div>

        <div
            class=" h-40 px-8 py-8 border-[#63717F] border rounded-lg flex flex-col justify-center">
            <button class="mb-3"><fa-icon [icon]="faJs" class="text-[#F7770F] text-5xl "></fa-icon> </button>
            <p class="text-white text-center text-md w-full">JS & TS</p>
        </div>
        <div
            class="h-40 px-8 py-8 border-[#63717F]  border rounded-lg flex flex-col justify-center  ">
            <button class="mb-3"><fa-icon [icon]="faAngular" class="text-[#F7770F] text-5xl"></fa-icon> </button>
            <p class="text-white text-center text-md w-full ">Angular</p>
        </div>
        <div
            class="h-40 px-8 py-8 border-[#63717F]  border rounded-lg flex flex-col justify-center  ">
            <button class="mb-3"><fa-icon [icon]="faGithub" class="text-[#F7770F] text-5xl"></fa-icon> </button>
            <p class="text-white text-center text-md w-full ">GitHub</p>
        </div>

        <div
            class="h-40 px-8 py-8 border-[#63717F]  border rounded-lg flex flex-col justify-center  ">
            <button class="mb-3"><fa-icon [icon]="faNode" class="text-[#F7770F] text-5xl"></fa-icon> </button>
            <p class="text-white text-center text-md w-full">Node.js</p>
        </div>
    </div>
</div>